__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.envrc
*.venv
Pipfile
Pipfile.lock
poetry.lock
logs/
*.log
*.sqlite3
*.db
migrations/
.cache/
*.egg-info/
.vscode/
.idea/
*.iml
docker-compose.override.yml
*.dockerfile
