.hotel-request-container {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
}

.table-container {
    max-height: 100%; 
    overflow-y: auto; 
    overflow-x: auto; 
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    padding: 10px;
}

.hotel-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 900px; 
    table-layout: fixed; 
}

.hotel-table thead {
    background: linear-gradient(to right, #007bff, #ffb005); 
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Arial', sans-serif; /* Updated font */
    font-size: 12px;
}

.hotel-table th {
    font-weight: light;
    text-align: center;
    padding: 12px;
    height: 5vh;
    white-space: nowrap;
    text-transform: uppercase; 
    font-family: 'Arial', sans-serif; 
}

.hotel-table thead tr {
    display: table-row;
}

.hotel-table thead th:first-child {
    border-top-left-radius: 4px;
}

.hotel-table thead th:last-child {
    border-top-right-radius: 4px;
}

.hotel-table th, .hotel-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.hotel-table th{
    padding: 10px;
}

.hotel-table tbody tr {
    display: table-row;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.hotel-table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-container::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #eee;
}


.actions-cell {
    display: flex;
    gap: 8px;
}

.action-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn {
    color: #7c7b7b;
}

.edit-btn:hover {
    background-color: rgba(74, 0, 224, 0.1);
}

.view-btn {
    color: #7c7b7b;
}

.view-btn:hover {
    background-color: rgba(0, 123, 255, 0.1);
}
